.container {
    width: 100%;
    height: calc(100vh - 64px);
    background: transparent;
}
  
.sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.sidenav {
    padding: 5px;
    border-radius: 0;
}
  
.spacer {
    flex: 1 1 auto;
}

.search-field {
    width: 100%
}