img {
    float: left;
    width: 45px;
    border-radius: 50%
}
.about {
    float: left;
    padding-left: 8px
}

.name {
    font-size: 15px;
    color: white;
}

.last_msg {
    color: #999999;
    font-size: 13px
}

.status {
    height: 12px; 
    width: 12px; 
    font-size: 12px;
}

.chat {
    padding: 10px 15px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
}

.chat:hover {
     opacity: 0.7;
}